#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid black;
}

#logo {
  display: inline-flex;
  align-items: center;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-left: 10px;
}

#header nav span {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

nav a {
  color: black;
}

#content {
  display: inline-flex;
}

#content .column {
  margin-top: 30px;
  margin-right: 30px;
}

html {
  font-family: Georgia;
}

#largecolumn {
  flex-direction: column;
  width: 630px;
}

#mediumcolumn {
  flex-direction: column;
  width: 300px;
}

#smallcolumn {
  flex-direction: column;
  width: 240px;
}

#phish {
  background-image: url(../images/MainStory.png);
}

#earth {
  background-image: url(../images/Fall.png);
}

#cameras {
  background-image: url(../images/Cameraman.png);
}

#cats {
  background-image: url(../images/CatCEO.png);
}

.imghead {
  display: flex;
  align-items: center;
  height: 300px;
}

#MainStory .imghead p {
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding: 20px;
  margin: 0;
}

.story .imghead p {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.story p {
  font-size: 17px;
  color: black;
}
#stories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 535px;
}

h2 {
    margin: 0;
    padding: 0;
}

.story {
  width: 300px;
}

#bites {
  display: flex;
  flex-direction: column;
}

#bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

#bites div {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

#footer {
  display: block;
  margin: auto;
  background-color: MediumAquamarine;
  font-family: Verdana;
  font-size: 12px;
  align-content: center;
  padding: 100px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar h4 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin: 10px;
}

#navbar nav span {
  margin: 10px;
}

#copyright {
  text-align: center;
}
