#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid black;
}

#logo {
  display: inline-flex;
  align-items: center;
}

h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  margin-left: 10px;
}

#header nav span {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

nav a {
  color: black;
}

#content {
  display: inline-flex;
}

#content .column {
  margin-top: 30px;
  margin-right: 30px;
}

html {
  font-family: Georgia;
}

#largecolumn {
  flex-direction: column;
  width: 630px;
}

#mediumcolumn {
  flex-direction: column;
  width: 300px;
}

#smallcolumn {
  flex-direction: column;
  width: 240px;
}

#phish {
  background-image: url(../images/MainStory.png);
}

#earth {
  background-image: url(../images/Fall.png);
}

#cameras {
  background-image: url(../images/Cameraman.png);
}

#cats {
  background-image: url(../images/CatCEO.png);
}

.imghead {
  display: flex;
  height: 300px;
}

.imghead p, .story .imghead p {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.story p {
  font-size: 17px;
  color: black;
}

#stories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 600px;
}

.story {
  width: 300px;
}
